In [1]:
import pandas as pd
import numpy as np 
from nba_api.stats.static import players

In [2]:
pd.DataFrame(players.get_players()).head()

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False

In [104]:
player_list = pd.DataFrame(players.get_players())

In [3]:
from nba_api.stats.static import teams

In [4]:
pd.DataFrame(teams.get_teams()).head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [5]:
import pandas as pd
import numpy as np 
import datetime 
from datetime import timedelta

from nba_api.stats.static import teams

def get_new_teams():
    # no input
    old_teams = pd.read_csv("/users/jordanwegner/Desktop/nba2/03_data/teams.csv")
    # test addition
    new_teams = pd.DataFrame(teams.get_teams())
    #tp = pd.DataFrame({'id':[1,0], 'full_name': ['J-Crew', 'Wegner Clan'],'abbreviation':['JC', 'WEG'], 'nickname':['J-Crew', 'Wegner Clan'], 'city':['Dallas', 'San Angelo'], 'state':['Texas','Texas'],year_founded':[2021,1990]})   
    #new_teams = pd.concat([new_teams,tp])
    if old_teams.shape[0]>=new_teams.shape[0]:
        print ("No new teams to add. No update required.")
    else:
        old_file_id = "/users/jordanwegner/Desktop/nba2/03_data/00_archive/teams_"+ (datetime.datetime.today() - timedelta(1)).strftime('%Y%m%d')+".csv"
        old_teams.to_csv(old_file_id, index=False)
        new_teams = new_teams[~new_teams['id'].isin(old_teams['id'])].copy()
        updated_teams = pd.concat([old_teams, new_teams])
        print ("{} new teams added to the data set.".format(new_teams.shape[0]))
        print ("teams.csv now has {} teams.".format(updated_teams.shape[0]))
        updated_teams.to_csv('/users/jordanwegner/Desktop/nba2/03_data/teams.csv',index=False)

In [6]:
from nba_api.stats.endpoints import teamgamelogs

In [92]:
test = teamgamelogs.TeamGameLogs(season_nullable='2015-16').get_data_frames()[0]

In [93]:
test

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,2015-16,1610612739,CLE,Cleveland Cavaliers,0021501220,2016-04-13T00:00:00,CLE vs. DET,L,53.0,46,...,1258,1358,255,2146,385,2393,1754,2141,627,1264
1,2015-16,1610612763,MEM,Memphis Grizzlies,0021501227,2016-04-13T00:00:00,MEM @ GSW,L,48.0,42,...,1699,617,813,176,2293,1826,664,2246,1049,2317
2,2015-16,1610612751,BKN,Brooklyn Nets,0021501218,2016-04-13T00:00:00,BKN vs. TOR,L,48.0,39,...,1839,471,78,953,231,2332,482,2384,1699,1654
3,2015-16,1610612766,CHA,Charlotte Hornets,0021501219,2016-04-13T00:00:00,CHA vs. ORL,W,48.0,47,...,833,70,255,1605,942,749,128,1594,253,333
4,2015-16,1610612742,DAL,Dallas Mavericks,0021501223,2016-04-13T00:00:00,DAL vs. SAS,L,48.0,31,...,1556,1558,611,953,2051,411,1754,1344,2030,1483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,2015-16,1610612741,CHI,Chicago Bulls,0021500002,2015-10-27T00:00:00,CHI vs. CLE,W,48.0,37,...,693,2382,813,1605,69,1826,1560,902,1632,1138
2456,2015-16,1610612737,ATL,Atlanta Hawks,0021500001,2015-10-27T00:00:00,ATL vs. DET,L,48.0,37,...,1699,1175,1303,671,1269,411,2059,2141,1851,1970
2457,2015-16,1610612739,CLE,Cleveland Cavaliers,0021500002,2015-10-27T00:00:00,CLE @ CHI,L,48.0,38,...,358,471,419,1890,385,2332,1352,708,1768,1264
2458,2015-16,1610612744,GSW,Golden State Warriors,0021500003,2015-10-27T00:00:00,GSW vs. NOP,W,48.0,41,...,68,194,2198,953,385,411,2359,204,556,261
2459,2015-16,1610612765,DET,Detroit Pistons,0021500001,2015-10-27T00:00:00,DET @ ATL,W,48.0,37,...,23,952,1303,1890,1713,749,216,289,899,434

In [85]:
# need season id 
# probably a function to get the upcoming season id and add it to an existing file 

import pandas as pd
import numpy as np 
import datetime 
from datetime import timedelta

def get_new_season():
    # no input
    old_seasons = pd.read_csv("seasons.csv") # update this path 
    y1 = datetime.datetime.today().strftime('%Y')
    y2 = (datetime.datetime.today() - datetime.timedelta(days = -365)).strftime('%y')
    current_seasons = y1+'-'+y2
    if any(old_seasons['id'].str.contains(current_seasons)):
        print ("No new seasons to add. No update required.")
        updated_seasons = old_seasons
    else:
        updated_seasons = pd.DataFrame(old_seasons['id'].append(pd.Series(current_seasons)).reset_index(drop=True))
        updated_seasons.columns = ['id']
        print("Last 5 seasons (in case it's been more than a year): ")
        print(updated_seasons.tail())
        if (int(y2) - int(updated_seasons['id'].str.split('-')[len(updated_seasons)-2][1]))!=1:
            raise TypeError("Error in Seasons!")
        else: 
            old_file_id = "seasons_"+ (datetime.datetime.today() - timedelta(1)).strftime('%Y%m%d')+".csv" # updated this path 
            old_seasons.to_csv(old_file_id, index=False)
            updated_seasons.to_csv('seasons.csv',index=False) # update this path 
        
    return updated_seasons

In [86]:
seasons = get_new_season()

No new seasons to add. No update required.

In [96]:
seasons

         id
0   2000-01
1   2001-02
2   2002-03
3   2003-04
4   2004-05
5   2005-06
6   2006-07
7   2007-08
8   2008-09
9   2009-10
10  2010-11
11  2011-12
12  2012-13
13  2013-14
14  2014-15
15  2015-16
16  2016-17
17  2017-18
18  2018-19
19  2019-20
20  2020-21
21  2021-22
22  2022-23
23  2023-24

In [94]:
game_ids = []
for i in range(20,len(seasons)):
    game_id = teamgamelogs.TeamGameLogs(season_nullable=seasons['id'][i]).get_data_frames()[0][['SEASON_YEAR','TEAM_ID','GAME_ID']]
    game_ids.append(game_id)

In [95]:
game_ids

[     SEASON_YEAR     TEAM_ID     GAME_ID
 0        2020-21  1610612748  0022001069
 1        2020-21  1610612742  0022001071
 2        2020-21  1610612739  0022001067
 3        2020-21  1610612754  0022001079
 4        2020-21  1610612747  0022001072
 ...          ...         ...         ...
 2155     2020-21  1610612742  0022000004
 2156     2020-21  1610612747  0022000002
 2157     2020-21  1610612746  0022000002
 2158     2020-21  1610612751  0022000001
 2159     2020-21  1610612744  0022000001

 [2160 rows x 3 columns],
      SEASON_YEAR     TEAM_ID     GAME_ID
 0        2021-22  1610612761  0022101226
 1        2021-22  1610612750  0022101224
 2        2021-22  1610612762  0022101230
 3        2021-22  1610612747  0022101220
 4        2021-22  1610612745  0022101221
 ...          ...         ...         ...
 2455     2021-22  1610612753  0022100010
 2456     2021-22  1610612751  0022100001
 2457     2021-22  1610612744  0022100002
 2458     2021-22  1610612749  0022100001
 2459     2021-22  1610612747  0022100002

 [2460 rows x 3 columns],
      SEASON_YEAR     TEAM_ID     GAME_ID
 0        2022-23  1610612744  0022201230
 1        2022-23  1610612751  0022201217
 2        2022-23  1610612765  0022201223
 3        2022-23  1610612742  0022201224
 4        2022-23  1610612749  0022201221
 ...          ...         ...         ...
 2455     2022-23  1610612742  0022200013
 2456     2022-23  1610612744  0022200002
 2457     2022-23  1610612747  0022200002
 2458     2022-23  1610612755  0022200001
 2459     2022-23  1610612738  0022200001

 [2460 rows x 3 columns],
 Empty DataFrame
 Columns: [SEASON_YEAR, TEAM_ID, GAME_ID]
 Index: []]

In [91]:
pd.concat(game_ids)

     SEASON_YEAR     TEAM_ID     GAME_ID
0        2000-01  1610612762  0020001187
1        2000-01  1610612743  0020001186
2        2000-01  1610612738  0020001179
3        2000-01  1610612754  0020001184
4        2000-01  1610612748  0020001183
...          ...         ...         ...
2373     2003-04  1610612747  0020300003
2374     2003-04  1610612748  0020300001
2375     2003-04  1610612755  0020300001
2376     2003-04  1610612759  0020300002
2377     2003-04  1610612742  0020300003

[9512 rows x 3 columns]

In [97]:
from nba_api.stats.endpoints import playerindex

In [108]:
pi_test = playerindex.PlayerIndex(season='2015-16').get_data_frames()[0]

In [107]:
pl = list(player_list['id'])

In [110]:
pid = list(pi_test['PERSON_ID'])

In [121]:
count = 0
for i in pid:
    if i in pl:
        print(str(i)+' is in the PLAYER_ID')
        count = count + 1

203919 is in the PLAYER_ID
1626146 is in the PLAYER_ID
200811 is in the PLAYER_ID
2365 is in the PLAYER_ID
202341 is in the PLAYER_ID
203951 is in the PLAYER_ID
201965 is in the PLAYER_ID
203946 is in the PLAYER_ID
200745 is in the PLAYER_ID
201971 is in the PLAYER_ID
2581 is in the PLAYER_ID
2588 is in the PLAYER_ID
2547 is in the PLAYER_ID
1882 is in the PLAYER_ID
977 is in the PLAYER_ID
201978 is in the PLAYER_ID
2406 is in the PLAYER_ID
2446 is in the PLAYER_ID
1626262 is in the PLAYER_ID
203142 is in the PLAYER_ID
203955 is in the PLAYER_ID
203099 is in the PLAYER_ID
1626183 is in the PLAYER_ID
1626214 is in the PLAYER_ID
201962 is in the PLAYER_ID
1626251 is in the PLAYER_ID
1495 is in the PLAYER_ID
203921 is in the PLAYER_ID
203105 is in the PLAYER_ID
200770 is in the PLAYER_ID
708 is in the PLAYER_ID
202087 is in the PLAYER_ID
2400 is in the PLAYER_ID
202726 is in the PLAYER_ID
203475 is in the PLAYER_ID
203268 is in the PLAYER_ID
203798 is in the PLAYER_ID
202706 is in the PLAYER_ID
201946 is in the PLAYER_ID
101236 is in the PLAYER_ID
201581 is in the PLAYER_ID
2550 is in the PLAYER_ID
204066 is in the PLAYER_ID
200797 is in the PLAYER_ID
1626273 is in the PLAYER_ID
203996 is in the PLAYER_ID
203928 is in the PLAYER_ID
203187 is in the PLAYER_ID
203111 is in the PLAYER_ID
203093 is in the PLAYER_ID
2549 is in the PLAYER_ID
203508 is in the PLAYER_ID
201619 is in the PLAYER_ID
201171 is in the PLAYER_ID
203906 is in the PLAYER_ID
203088 is in the PLAYER_ID
2755 is in the PLAYER_ID
201564 is in the PLAYER_ID
203492 is in the PLAYER_ID
203956 is in the PLAYER_ID
1889 is in the PLAYER_ID
1737 is in the PLAYER_ID
1626242 is in the PLAYER_ID
200779 is in the PLAYER_ID
1626266 is in the PLAYER_ID
203123 is in the PLAYER_ID
203934 is in the PLAYER_ID
201593 is in the PLAYER_ID
202353 is in the PLAYER_ID
203515 is in the PLAYER_ID
203143 is in the PLAYER_ID
2419 is in the PLAYER_ID
101126 is in the PLAYER_ID
203135 is in the PLAYER_ID
2449 is in the PLAYER_ID
203156 is in the PLAYER_ID
202388 is in the PLAYER_ID
202962 is in the PLAYER_ID
2746 is in the PLAYER_ID
203893 is in the PLAYER_ID
1627293 is in the PLAYER_ID
2405 is in the PLAYER_ID
201155 is in the PLAYER_ID
203096 is in the PLAYER_ID
203138 is in the PLAYER_ID
201574 is in the PLAYER_ID
201977 is in the PLAYER_ID
2760 is in the PLAYER_ID
202349 is in the PLAYER_ID
101111 is in the PLAYER_ID
201603 is in the PLAYER_ID
203963 is in the PLAYER_ID
202343 is in the PLAYER_ID
2590 is in the PLAYER_ID
2748 is in the PLAYER_ID
203100 is in the PLAYER_ID

In [120]:
count == len(pid)

True

In [122]:
count = 0
for i in pl:
    if i in pid:
        print(str(i)+' is in the PERSON_ID')
        count = count + 1

203919 is in the PERSON_ID
1626146 is in the PERSON_ID
200811 is in the PERSON_ID
2365 is in the PERSON_ID
202341 is in the PERSON_ID
203951 is in the PERSON_ID
201965 is in the PERSON_ID
203946 is in the PERSON_ID
200745 is in the PERSON_ID
201971 is in the PERSON_ID
2581 is in the PERSON_ID
2588 is in the PERSON_ID
2547 is in the PERSON_ID
1882 is in the PERSON_ID
977 is in the PERSON_ID
201978 is in the PERSON_ID
2406 is in the PERSON_ID
2446 is in the PERSON_ID
1626262 is in the PERSON_ID
203142 is in the PERSON_ID
203955 is in the PERSON_ID
203099 is in the PERSON_ID
1626183 is in the PERSON_ID
1626214 is in the PERSON_ID
201962 is in the PERSON_ID
1626251 is in the PERSON_ID
1495 is in the PERSON_ID
203921 is in the PERSON_ID
203105 is in the PERSON_ID
200770 is in the PERSON_ID
708 is in the PERSON_ID
202087 is in the PERSON_ID
2400 is in the PERSON_ID
202726 is in the PERSON_ID
203475 is in the PERSON_ID
203268 is in the PERSON_ID
203798 is in the PERSON_ID
202706 is in the PERSON_ID
201946 is in the PERSON_ID
101236 is in the PERSON_ID
201581 is in the PERSON_ID
2550 is in the PERSON_ID
204066 is in the PERSON_ID
200797 is in the PERSON_ID
1626273 is in the PERSON_ID
203996 is in the PERSON_ID
203928 is in the PERSON_ID
203187 is in the PERSON_ID
203111 is in the PERSON_ID
203093 is in the PERSON_ID
2549 is in the PERSON_ID
203508 is in the PERSON_ID
201619 is in the PERSON_ID
201171 is in the PERSON_ID
203906 is in the PERSON_ID
203088 is in the PERSON_ID
2755 is in the PERSON_ID
201564 is in the PERSON_ID
203492 is in the PERSON_ID
203956 is in the PERSON_ID
1889 is in the PERSON_ID
1737 is in the PERSON_ID
1626242 is in the PERSON_ID
200779 is in the PERSON_ID
1626266 is in the PERSON_ID
203123 is in the PERSON_ID
203934 is in the PERSON_ID
201593 is in the PERSON_ID
202353 is in the PERSON_ID
203515 is in the PERSON_ID
203143 is in the PERSON_ID
2419 is in the PERSON_ID
101126 is in the PERSON_ID
203135 is in the PERSON_ID
2449 is in the PERSON_ID
203156 is in the PERSON_ID
202388 is in the PERSON_ID
202962 is in the PERSON_ID
2746 is in the PERSON_ID
203893 is in the PERSON_ID
1627293 is in the PERSON_ID
2405 is in the PERSON_ID
201155 is in the PERSON_ID
203096 is in the PERSON_ID
203138 is in the PERSON_ID
201574 is in the PERSON_ID
201977 is in the PERSON_ID
2760 is in the PERSON_ID
202349 is in the PERSON_ID
101111 is in the PERSON_ID
201603 is in the PERSON_ID
203963 is in the PERSON_ID
202343 is in the PERSON_ID
2590 is in the PERSON_ID
2748 is in the PERSON_ID
203100 is in the PERSON_ID

In [123]:
count == len(pid)

True

In [124]:
count == len(pl)

False

In [125]:
# okay, so person id is the same as player id I think

In [127]:
pi_test

,PERSON_ID,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,PLAYER_SLUG,TEAM_ID,TEAM_SLUG,IS_DEFUNCT,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,...,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,FROM_YEAR,TO_YEAR,PTS,REB,AST,STATS_TIMEFRAME
0,203919,Adams,Jordan,jordan-adams,1610612763,grizzlies,0,Memphis,Grizzlies,MEM,...,2014.0,1.0,22.0,1.0,2014,2015,3.5,1.0,1.5,Season
1,1626146,Alexander,Cliff,cliff-alexander,1610612757,blazers,0,Portland,Trail Blazers,POR,...,NaN,NaN,NaN,1.0,2015,2015,1.3,0.8,0.0,Season
2,200811,Amundson,Lou,lou-amundson,1610612752,knicks,0,New York,Knicks,NYK,...,NaN,NaN,NaN,1.0,2006,2015,1.8,1.7,0.4,Season
3,2365,Andersen,Chris,chris-andersen,1610612763,grizzlies,0,Memphis,Grizzlies,MEM,...,NaN,NaN,NaN,1.0,2001,2016,3.9,3.6,0.4,Season
4,202341,Anderson,James,james-anderson,1610612758,kings,0,Sacramento,Kings,SAC,...,2010.0,1.0,20.0,1.0,2010,2015,3.5,1.7,0.8,Season
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,203963,Whittington,Shayne,shayne-whittington,1610612754,pacers,0,Indiana,Pacers,IND,...,NaN,NaN,NaN,1.0,2014,2015,1.6,1.7,0.4,Season
92,202343,Williams,Elliot,elliot-williams,0,None,0,None,None,None,...,2010.0,1.0,22.0,NaN,2010,2015,1.6,0.8,0.8,Season
93,2590,Williams,Mo,mo-williams,1610612739,cavaliers,0,Cleveland,Cavaliers,CLE,...,2003.0,2.0,47.0,1.0,2003,2015,8.2,1.8,2.4,Season
94,2748,Wright,Dorell,dorell-wright,1610612748,heat,0,Miami,Heat,MIA,...,2004.0,1.0,19.0,1.0,2004,2015,NaN,NaN,NaN,Season
95,203100,Wroten,Tony,tony-wroten,1610612752,knicks,0,New York,Knicks,NYK,...,2012.0,1.0,25.0,1.0,2012,2015,8.4,2.6,2.5,Season

In [130]:
tid2 = pi_test[['TEAM_ID','TEAM_NAME']]

In [131]:
team_list = pd.DataFrame(teams.get_teams())

In [135]:
tid2.merge(team_list,how='outer',left_on='TEAM_ID',right_on='id')

,TEAM_ID,TEAM_NAME,id,full_name,abbreviation,nickname,city,state,year_founded
0,1.610613e+09,Grizzlies,1.610613e+09,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995.0
1,1.610613e+09,Grizzlies,1.610613e+09,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995.0
2,1.610613e+09,Grizzlies,1.610613e+09,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995.0
3,1.610613e+09,Grizzlies,1.610613e+09,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995.0
4,1.610613e+09,Grizzlies,1.610613e+09,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995.0
...,...,...,...,...,...,...,...,...,...
92,1.610613e+09,Raptors,1.610613e+09,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995.0
93,1.610613e+09,Pacers,1.610613e+09,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976.0
94,1.610613e+09,Pacers,1.610613e+09,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976.0
95,1.610613e+09,Mavericks,1.610613e+09,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980.0
96,NaN,NaN,1.610613e+09,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976.0

In [136]:
tid2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TEAM_ID    96 non-null     int64
 1   TEAM_NAME  74 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.6+ KB

In [137]:
team_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            30 non-null     int64
 1   full_name     30 non-null     object
 2   abbreviation  30 non-null     object
 3   nickname      30 non-null     object
 4   city          30 non-null     object
 5   state         30 non-null     object
 6   year_founded  30 non-null     int64
dtypes: int64(2), object(5)
memory usage: 1.8+ KB

In [142]:
tid2['TEAM_ID'] = tid2['TEAM_ID'].astype(str).str.strip()
team_list['id'] = team_list['id'].astype(str).str.strip()

<ipython-input-142-9adc392d2959>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tid2['TEAM_ID'] = tid2['TEAM_ID'].astype(str).str.strip()

In [146]:
tid2.merge(team_list,how='left',left_on='TEAM_ID',right_on='id').to_csv('temp.csv')

In [147]:
tid2.merge(team_list,how='right',left_on='TEAM_ID',right_on='id')

,TEAM_ID,TEAM_NAME,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Hawks,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612737,Hawks,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
2,1610612738,Celtics,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
3,1610612738,Celtics,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
4,1610612739,Cavaliers,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
...,...,...,...,...,...,...,...,...,...
70,1610612764,Wizards,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
71,1610612764,Wizards,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
72,1610612765,Pistons,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
73,1610612766,Hornets,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988
74,1610612766,Hornets,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

Let's make a sample

In [158]:
PLAYERS = pd.DataFrame(players.get_players())
TEAMS = pd.DataFrame(teams.get_teams())
PLAYER_INDEX = playerindex.PlayerIndex().get_data_frames()

In [159]:
PLAYERS

           id            full_name first_name     last_name  is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False
...       ...                  ...        ...           ...        ...
4810  1627790           Ante Zizic       Ante         Zizic      False
4811    78647             Jim Zoet        Jim          Zoet      False
4812    78648            Bill Zopf       Bill          Zopf      False
4813  1627826          Ivica Zubac      Ivica         Zubac       True
4814    78650           Matt Zunic       Matt         Zunic      False

[4815 rows x 5 columns]

In [160]:
TEAMS

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

In [161]:
PLAYER_INDEX[0]

,PERSON_ID,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,PLAYER_SLUG,TEAM_ID,TEAM_SLUG,IS_DEFUNCT,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,...,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,FROM_YEAR,TO_YEAR,PTS,REB,AST,STATS_TIMEFRAME
0,1630173,Achiuwa,Precious,precious-achiuwa,1610612761,raptors,0,Toronto,Raptors,TOR,...,2020.0,1.0,20.0,1.0,2020,2023,9.2,6.0,0.9,Season
1,203500,Adams,Steven,steven-adams,1610612763,grizzlies,0,Memphis,Grizzlies,MEM,...,2013.0,1.0,12.0,1.0,2013,2023,8.6,11.5,2.3,Season
2,1628389,Adebayo,Bam,bam-adebayo,1610612748,heat,0,Miami,Heat,MIA,...,2017.0,1.0,14.0,1.0,2017,2023,20.4,9.2,3.2,Season
3,1630534,Agbaji,Ochai,ochai-agbaji,1610612762,jazz,0,Utah,Jazz,UTA,...,2022.0,1.0,14.0,1.0,2022,2023,7.9,2.1,1.1,Season
4,1630583,Aldama,Santi,santi-aldama,1610612763,grizzlies,0,Memphis,Grizzlies,MEM,...,2021.0,1.0,30.0,1.0,2021,2023,9.0,4.8,1.3,Season
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,201152,Young,Thaddeus,thaddeus-young,1610612761,raptors,0,Toronto,Raptors,TOR,...,2007.0,1.0,12.0,1.0,2007,2023,4.4,3.1,1.4,Season
535,1629027,Young,Trae,trae-young,1610612737,hawks,0,Atlanta,Hawks,ATL,...,2018.0,1.0,5.0,1.0,2018,2023,26.2,3.0,10.2,Season
536,1630209,Yurtseven,Omer,omer-yurtseven,1610612748,heat,0,Miami,Heat,MIA,...,NaN,NaN,NaN,1.0,2020,2023,4.4,2.6,0.2,Season
537,203469,Zeller,Cody,cody-zeller,1610612748,heat,0,Miami,Heat,MIA,...,2013.0,1.0,4.0,1.0,2013,2023,6.5,4.3,0.7,Season
538,1627826,Zubac,Ivica,ivica-zubac,1610612746,clippers,0,LA,Clippers,LAC,...,2016.0,2.0,32.0,1.0,2016,2023,10.8,9.9,1.0,Season

In [162]:
PLAYER_INDEX0 = PLAYER_INDEX[0]

In [163]:
PLAYER_INDEX0[PLAYER_INDEX0['PERSON_ID']==201152]

,PERSON_ID,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,PLAYER_SLUG,TEAM_ID,TEAM_SLUG,IS_DEFUNCT,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,...,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,FROM_YEAR,TO_YEAR,PTS,REB,AST,STATS_TIMEFRAME
534,201152,Young,Thaddeus,thaddeus-young,1610612761,raptors,0,Toronto,Raptors,TOR,...,2007.0,1.0,12.0,1.0,2007,2023,4.4,3.1,1.4,Season

In [166]:
from nba_api.stats.endpoints import commonplayerinfo

# Basic Request
player_info = commonplayerinfo.CommonPlayerInfo(player_id=2544)

In [170]:
player_info.get_data_frames()[0]

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GREATEST_75_FLAG
0,2544,LeBron,James,LeBron James,"James, LeBron",L. James,lebron-james,1984-12-30T00:00:00,St. Vincent-St. Mary HS (OH),USA,...,lebron_james,2003,2023,N,Y,Y,2003,1,1,Y

In [173]:
from nba_api.stats.endpoints import commonteamroster
ctr = commonteamroster.CommonTeamRoster(team_id=1610612761).get_data_frames() # the raptors

In [174]:
len(ctr)

2

In [175]:
ctr[0]

,TeamID,SEASON,LeagueID,PLAYER,NICKNAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID,HOW_ACQUIRED
0,1610612761,2022,00,Will Barton,Will,will-barton,1,G,6-5,181,"JAN 06, 1991",32.0,10,Memphis,203115,Signed on 02/28/23
1,1610612761,2022,00,O.G. Anunoby,O.G.,og-anunoby,3,F,6-7,232,"JUL 17, 1997",25.0,5,Indiana,1628384,#23 Pick in 2017 Draft
2,1610612761,2022,00,Scottie Barnes,Scottie,scottie-barnes,4,F,6-8,225,"AUG 01, 2001",21.0,1,Florida State,1630567,#4 Pick in 2021 Draft
3,1610612761,2022,00,Precious Achiuwa,Precious,precious-achiuwa,5,F,6-8,225,"SEP 19, 1999",23.0,2,Memphis,1630173,Traded from MIA on 08/06/21
4,1610612761,2022,00,Ron Harper Jr.,Ron,ron-harper-jr,8,F,6-5,245,"APR 12, 2000",23.0,R,Rutgers,1631199,Signed on 07/13/22
5,1610612761,2022,00,Joe Wieskamp,Joe,joe-wieskamp,11,G-F,6-6,205,"AUG 23, 1999",23.0,1,Iowa,1630580,Signed on 01/07/23
6,1610612761,2022,00,Jakob Poeltl,Jakob,jakob-poeltl,19,C,7-1,245,"OCT 15, 1995",27.0,6,Utah,1627751,Traded from SAS on 02/09/23
7,1610612761,2022,00,Jeff Dowtin Jr.,Jeff,jeff-dowtin-jr,20,G,6-3,177,"MAY 10, 1997",26.0,1,Rhode Island,1630288,Signed on 07/19/22
8,1610612761,2022,00,Thaddeus Young,Thaddeus,thaddeus-young,21,F,6-8,235,"JUN 21, 1988",34.0,15,Georgia Tech,201152,Traded from SAS on 02/10/22
9,1610612761,2022,00,Malachi Flynn,Malachi,malachi-flynn,22,G,6-1,175,"MAY 09, 1998",25.0,2,San Diego State,1630201,#29 Pick in 2020 Draft
10,1610612761,2022,00,Fred VanVleet,Fred,fred-vanvleet,23,G,6-0,197,"FEB 25, 1994",29.0,6,Wichita State,1627832,Signed on 07/16/16
11,1610612761,2022,00,Chris Boucher,Chris,chris-boucher,25,F-C,6-9,200,"JAN 11, 1993",30.0,5,Oregon,1628449,Signed on 07/20/18
12,1610612761,2022,00,Otto Porter Jr.,Otto,otto-porter-jr,32,F,6-8,198,"JUN 03, 1993",30.0,9,Georgetown,203490,Signed on 07/06/22
13,1610612761,2022,00,Gary Trent Jr.,Gary,gary-trent-jr,33,G-F,6-5,209,"JAN 18, 1999",24.0,4,Duke,1629018,Traded from POR on 03/25/21
14,1610612761,2022,00,Christian Koloko,Christian,christian-koloko,35,C,7-0,230,"JUN 20, 2000",22.0,R,Arizona,1631132,#33 Pick in 2022 Draft
15,1610612761,2022,00,Pascal Siakam,Pascal,pascal-siakam,43,F,6-8,230,"APR 02, 1994",29.0,6,New Mexico State,1627783,#27 Pick in 2016 Draft
16,1610612761,2022,00,Dalano Banton,Dalano,dalano-banton,45,F,6-7,204,"NOV 07, 1999",23.0,1,Nebraska,1630625,#46 Pick in 2021 Draft

In [176]:
ctr[1]

,TEAM_ID,SEASON,COACH_ID,FIRST_NAME,LAST_NAME,COACH_NAME,IS_ASSISTANT,COACH_TYPE,SORT_SEQUENCE,SUB_SORT_SEQUENCE
0,1610612761,2022,204011,Darko,Rajakovic,Darko Rajakovic,1,Head Coach,None,1
1,1610612761,2022,201765,Nate,Bjorkgren,Nate Bjorkgren,2,Assistant Coach,None,5
2,1610612761,2022,1627324,Nathanial,Mitchell,Nathanial Mitchell,2,Assistant Coach,None,5
3,1610612761,2022,1627470,Earl,Watson,Earl Watson,2,Assistant Coach,None,5
4,1610612761,2022,1629761,Fab,Flournoy,Fab Flournoy,2,Assistant Coach,None,5
5,1610612761,2022,1629821,Jon,Goodwillie,Jon Goodwillie,2,Assistant Coach,None,5
6,1610612761,2022,1630795,Trevor,Gleeson,Trevor Gleeson,2,Assistant Coach,None,5
7,1610612761,2022,1641544,John,Corbacio,John Corbacio,2,Assistant Coach,None,5
8,1610612761,2022,1627971,Rico,Hines,Rico Hines,2,Assistant Coach,None,5
9,1610612761,2022,2631,Jim,Sann,Jim Sann,2,Assistant Coach,None,5
10,1610612761,2022,1356,Scott,McCullough,Scott McCullough,3,Trainer,None,7

In [179]:
from nba_api.stats.endpoints import commonteamyears
cty = commonteamyears.CommonTeamYears().get_data_frames()

In [180]:
cty0 = cty[0]

In [184]:
cty0[cty0['MAX_YEAR'].astype(int)==2023].shape

(30, 5)