In [2]:
import pandas as pd 
import numpy as np

In [3]:
# first, let's get every season in question 
seasons = pd.read_csv('/users/jordanwegner/Desktop/nba2/03_data/seasons.csv')
seasons.head()

        id    y1    y2
0  2000-01  2000  2001
1  2001-02  2001  2002
2  2002-03  2002  2003
3  2003-04  2003  2004
4  2004-05  2004  2005

In [5]:
teams = pd.read_csv("/users/jordanwegner/Desktop/nba2/03_data/teams.csv")

In [6]:
teams.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [4]:
import time

In [12]:
from nba_api.stats.endpoints import commonteamroster
ctr_list = []
for i in list(teams['id']):
    for j in list(seasons['id']):
        ctr_j = commonteamroster.CommonTeamRoster(team_id=i, season=j).get_data_frames()[0]
        ctr_list.append(ctr_j)
        time.sleep(.600) # had to do this to avoid the api timeout
        print("Team: {}, Season: {}".format(i,j))

Team: 1610612737, Season: 2000-01
Team: 1610612737, Season: 2001-02
Team: 1610612737, Season: 2002-03
Team: 1610612737, Season: 2003-04
Team: 1610612737, Season: 2004-05
Team: 1610612737, Season: 2005-06
Team: 1610612737, Season: 2006-07
Team: 1610612737, Season: 2007-08
Team: 1610612737, Season: 2008-09
Team: 1610612737, Season: 2009-10
Team: 1610612737, Season: 2010-11
Team: 1610612737, Season: 2011-12
Team: 1610612737, Season: 2012-13
Team: 1610612737, Season: 2013-14
Team: 1610612737, Season: 2014-15
Team: 1610612737, Season: 2015-16
Team: 1610612737, Season: 2016-17
Team: 1610612737, Season: 2017-18
Team: 1610612737, Season: 2018-19
Team: 1610612737, Season: 2019-20
Team: 1610612737, Season: 2020-21
Team: 1610612737, Season: 2021-22
Team: 1610612737, Season: 2022-23
Team: 1610612737, Season: 2023-24
Team: 1610612738, Season: 2000-01
Team: 1610612738, Season: 2001-02
Team: 1610612738, Season: 2002-03
Team: 1610612738, Season: 2003-04
Team: 1610612738, Season: 2004-05
Team: 1610612738, Season: 2005-06
Team: 1610612738, Season: 2006-07
Team: 1610612738, Season: 2007-08
Team: 1610612738, Season: 2008-09
Team: 1610612738, Season: 2009-10
Team: 1610612738, Season: 2010-11
Team: 1610612738, Season: 2011-12
Team: 1610612738, Season: 2012-13
Team: 1610612738, Season: 2013-14
Team: 1610612738, Season: 2014-15
Team: 1610612738, Season: 2015-16
Team: 1610612738, Season: 2016-17
Team: 1610612738, Season: 2017-18
Team: 1610612738, Season: 2018-19
Team: 1610612738, Season: 2019-20
Team: 1610612738, Season: 2020-21
Team: 1610612738, Season: 2021-22
Team: 1610612738, Season: 2022-23
Team: 1610612738, Season: 2023-24
Team: 1610612739, Season: 2000-01
Team: 1610612739, Season: 2001-02
Team: 1610612739, Season: 2002-03
Team: 1610612739, Season: 2003-04
Team: 1610612739, Season: 2004-05
Team: 1610612739, Season: 2005-06
Team: 1610612739, Season: 2006-07
Team: 1610612739, Season: 2007-08
Team: 1610612739, Season: 2008-09
Team: 1610612739, Season: 2009-10
Team: 1610612739, Season: 2010-11
Team: 1610612739, Season: 2011-12
Team: 1610612739, Season: 2012-13
Team: 1610612739, Season: 2013-14
Team: 1610612739, Season: 2014-15
Team: 1610612739, Season: 2015-16
Team: 1610612739, Season: 2016-17
Team: 1610612739, Season: 2017-18
Team: 1610612739, Season: 2018-19
Team: 1610612739, Season: 2019-20
Team: 1610612739, Season: 2020-21
Team: 1610612739, Season: 2021-22
Team: 1610612739, Season: 2022-23
Team: 1610612739, Season: 2023-24
Team: 1610612740, Season: 2000-01
Team: 1610612740, Season: 2001-02
Team: 1610612740, Season: 2002-03
Team: 1610612740, Season: 2003-04
Team: 1610612740, Season: 2004-05
Team: 1610612740, Season: 2005-06
Team: 1610612740, Season: 2006-07
Team: 1610612740, Season: 2007-08
Team: 1610612740, Season: 2008-09
Team: 1610612740, Season: 2009-10
Team: 1610612740, Season: 2010-11
Team: 1610612740, Season: 2011-12
Team: 1610612740, Season: 2012-13
Team: 1610612740, Season: 2013-14
Team: 1610612740, Season: 2014-15
Team: 1610612740, Season: 2015-16
Team: 1610612740, Season: 2016-17
Team: 1610612740, Season: 2017-18
Team: 1610612740, Season: 2018-19
Team: 1610612740, Season: 2019-20
Team: 1610612740, Season: 2020-21
Team: 1610612740, Season: 2021-22
Team: 1610612740, Season: 2022-23
Team: 1610612740, Season: 2023-24
Team: 1610612741, Season: 2000-01
Team: 1610612741, Season: 2001-02
Team: 1610612741, Season: 2002-03
Team: 1610612741, Season: 2003-04
Team: 1610612741, Season: 2004-05
Team: 1610612741, Season: 2005-06
Team: 1610612741, Season: 2006-07
Team: 1610612741, Season: 2007-08
Team: 1610612741, Season: 2008-09
Team: 1610612741, Season: 2009-10
Team: 1610612741, Season: 2010-11
Team: 1610612741, Season: 2011-12
Team: 1610612741, Season: 2012-13
Team: 1610612741, Season: 2013-14
Team: 1610612741, Season: 2014-15
Team: 1610612741, Season: 2015-16
Team: 1610612741, Season: 2016-17
Team: 1610612741, Season: 2017-18
Team: 1610612741, Season: 2018-19
Team: 1610612741, Season: 2019-20
Team: 1610612741, Season: 2020-21
Team: 1610612741, Season: 2021-22
Team: 1610612741, Season: 2022-23
Team: 1610612741, Season: 2023-24
Team: 1610612742, Season: 2000-01
Team: 1610612742, Season: 2001-02
Team: 1610612742, Season: 2002-03
Team: 1610612742, Season: 2003-04
Team: 1610612742, Season: 2004-05
Team: 1610612742, Season: 2005-06
Team: 1610612742, Season: 2006-07
Team: 1610612742, Season: 2007-08
Team: 1610612742, Season: 2008-09
Team: 1610612742, Season: 2009-10
Team: 1610612742, Season: 2010-11
Team: 1610612742, Season: 2011-12
Team: 1610612742, Season: 2012-13
Team: 1610612742, Season: 2013-14
Team: 1610612742, Season: 2014-15
Team: 1610612742, Season: 2015-16
Team: 1610612742, Season: 2016-17
Team: 1610612742, Season: 2017-18
Team: 1610612742, Season: 2018-19
Team: 1610612742, Season: 2019-20
Team: 1610612742, Season: 2020-21
Team: 1610612742, Season: 2021-22
Team: 1610612742, Season: 2022-23
Team: 1610612742, Season: 2023-24
Team: 1610612743, Season: 2000-01
Team: 1610612743, Season: 2001-02
Team: 1610612743, Season: 2002-03
Team: 1610612743, Season: 2003-04
Team: 1610612743, Season: 2004-05
Team: 1610612743, Season: 2005-06
Team: 1610612743, Season: 2006-07
Team: 1610612743, Season: 2007-08
Team: 1610612743, Season: 2008-09
Team: 1610612743, Season: 2009-10
Team: 1610612743, Season: 2010-11
Team: 1610612743, Season: 2011-12
Team: 1610612743, Season: 2012-13
Team: 1610612743, Season: 2013-14
Team: 1610612743, Season: 2014-15
Team: 1610612743, Season: 2015-16
Team: 1610612743, Season: 2016-17
Team: 1610612743, Season: 2017-18
Team: 1610612743, Season: 2018-19
Team: 1610612743, Season: 2019-20
Team: 1610612743, Season: 2020-21
Team: 1610612743, Season: 2021-22
Team: 1610612743, Season: 2022-23
Team: 1610612743, Season: 2023-24
Team: 1610612744, Season: 2000-01
Team: 1610612744, Season: 2001-02
Team: 1610612744, Season: 2002-03
Team: 1610612744, Season: 2003-04
Team: 1610612744, Season: 2004-05
Team: 1610612744, Season: 2005-06
Team: 1610612744, Season: 2006-07
Team: 1610612744, Season: 2007-08
Team: 1610612744, Season: 2008-09
Team: 1610612744, Season: 2009-10
Team: 1610612744, Season: 2010-11
Team: 1610612744, Season: 2011-12
Team: 1610612744, Season: 2012-13
Team: 1610612744, Season: 2013-14
Team: 1610612744, Season: 2014-15
Team: 1610612744, Season: 2015-16
Team: 1610612744, Season: 2016-17
Team: 1610612744, Season: 2017-18
Team: 1610612744, Season: 2018-19
Team: 1610612744, Season: 2019-20
Team: 1610612744, Season: 2020-21
Team: 1610612744, Season: 2021-22
Team: 1610612744, Season: 2022-23
Team: 1610612744, Season: 2023-24
Team: 1610612745, Season: 2000-01
Team: 1610612745, Season: 2001-02
Team: 1610612745, Season: 2002-03
Team: 1610612745, Season: 2003-04
Team: 1610612745, Season: 2004-05
Team: 1610612745, Season: 2005-06
Team: 1610612745, Season: 2006-07
Team: 1610612745, Season: 2007-08
Team: 1610612745, Season: 2008-09
Team: 1610612745, Season: 2009-10
Team: 1610612745, Season: 2010-11
Team: 1610612745, Season: 2011-12
Team: 1610612745, Season: 2012-13
Team: 1610612745, Season: 2013-14
Team: 1610612745, Season: 2014-15
Team: 1610612745, Season: 2015-16
Team: 1610612745, Season: 2016-17
Team: 1610612745, Season: 2017-18
Team: 1610612745, Season: 2018-19
Team: 1610612745, Season: 2019-20
Team: 1610612745, Season: 2020-21
Team: 1610612745, Season: 2021-22
Team: 1610612745, Season: 2022-23
Team: 1610612745, Season: 2023-24
Team: 1610612746, Season: 2000-01
Team: 1610612746, Season: 2001-02
Team: 1610612746, Season: 2002-03
Team: 1610612746, Season: 2003-04
Team: 1610612746, Season: 2004-05
Team: 1610612746, Season: 2005-06
Team: 1610612746, Season: 2006-07
Team: 1610612746, Season: 2007-08
Team: 1610612746, Season: 2008-09
Team: 1610612746, Season: 2009-10
Team: 1610612746, Season: 2010-11
Team: 1610612746, Season: 2011-12
Team: 1610612746, Season: 2012-13
Team: 1610612746, Season: 2013-14
Team: 1610612746, Season: 2014-15
Team: 1610612746, Season: 2015-16
Team: 1610612746, Season: 2016-17
Team: 1610612746, Season: 2017-18
Team: 1610612746, Season: 2018-19
Team: 1610612746, Season: 2019-20
Team: 1610612746, Season: 2020-21
Team: 1610612746, Season: 2021-22
Team: 1610612746, Season: 2022-23
Team: 1610612746, Season: 2023-24
Team: 1610612747, Season: 2000-01
Team: 1610612747, Season: 2001-02
Team: 1610612747, Season: 2002-03
Team: 1610612747, Season: 2003-04
Team: 1610612747, Season: 2004-05
Team: 1610612747, Season: 2005-06
Team: 1610612747, Season: 2006-07
Team: 1610612747, Season: 2007-08
Team: 1610612747, Season: 2008-09
Team: 1610612747, Season: 2009-10
Team: 1610612747, Season: 2010-11
Team: 1610612747, Season: 2011-12
Team: 1610612747, Season: 2012-13
Team: 1610612747, Season: 2013-14
Team: 1610612747, Season: 2014-15
Team: 1610612747, Season: 2015-16
Team: 1610612747, Season: 2016-17
Team: 1610612747, Season: 2017-18
Team: 1610612747, Season: 2018-19
Team: 1610612747, Season: 2019-20
Team: 1610612747, Season: 2020-21
Team: 1610612747, Season: 2021-22
Team: 1610612747, Season: 2022-23
Team: 1610612747, Season: 2023-24
Team: 1610612748, Season: 2000-01
Team: 1610612748, Season: 2001-02
Team: 1610612748, Season: 2002-03
Team: 1610612748, Season: 2003-04
Team: 1610612748, Season: 2004-05
Team: 1610612748, Season: 2005-06
Team: 1610612748, Season: 2006-07
Team: 1610612748, Season: 2007-08
Team: 1610612748, Season: 2008-09
Team: 1610612748, Season: 2009-10
Team: 1610612748, Season: 2010-11
Team: 1610612748, Season: 2011-12
Team: 1610612748, Season: 2012-13
Team: 1610612748, Season: 2013-14
Team: 1610612748, Season: 2014-15
Team: 1610612748, Season: 2015-16
Team: 1610612748, Season: 2016-17
Team: 1610612748, Season: 2017-18
Team: 1610612748, Season: 2018-19
Team: 1610612748, Season: 2019-20
Team: 1610612748, Season: 2020-21
Team: 1610612748, Season: 2021-22
Team: 1610612748, Season: 2022-23
Team: 1610612748, Season: 2023-24
Team: 1610612749, Season: 2000-01
Team: 1610612749, Season: 2001-02
Team: 1610612749, Season: 2002-03
Team: 1610612749, Season: 2003-04
Team: 1610612749, Season: 2004-05
Team: 1610612749, Season: 2005-06
Team: 1610612749, Season: 2006-07
Team: 1610612749, Season: 2007-08
Team: 1610612749, Season: 2008-09
Team: 1610612749, Season: 2009-10
Team: 1610612749, Season: 2010-11
Team: 1610612749, Season: 2011-12
Team: 1610612749, Season: 2012-13
Team: 1610612749, Season: 2013-14
Team: 1610612749, Season: 2014-15
Team: 1610612749, Season: 2015-16
Team: 1610612749, Season: 2016-17
Team: 1610612749, Season: 2017-18
Team: 1610612749, Season: 2018-19
Team: 1610612749, Season: 2019-20
Team: 1610612749, Season: 2020-21
Team: 1610612749, Season: 2021-22
Team: 1610612749, Season: 2022-23
Team: 1610612749, Season: 2023-24
Team: 1610612750, Season: 2000-01
Team: 1610612750, Season: 2001-02
Team: 1610612750, Season: 2002-03
Team: 1610612750, Season: 2003-04
Team: 1610612750, Season: 2004-05
Team: 1610612750, Season: 2005-06
Team: 1610612750, Season: 2006-07
Team: 1610612750, Season: 2007-08
Team: 1610612750, Season: 2008-09
Team: 1610612750, Season: 2009-10
Team: 1610612750, Season: 2010-11
Team: 1610612750, Season: 2011-12
Team: 1610612750, Season: 2012-13
Team: 1610612750, Season: 2013-14
Team: 1610612750, Season: 2014-15
Team: 1610612750, Season: 2015-16
Team: 1610612750, Season: 2016-17
Team: 1610612750, Season: 2017-18
Team: 1610612750, Season: 2018-19
Team: 1610612750, Season: 2019-20
Team: 1610612750, Season: 2020-21
Team: 1610612750, Season: 2021-22
Team: 1610612750, Season: 2022-23
Team: 1610612750, Season: 2023-24
Team: 1610612751, Season: 2000-01
Team: 1610612751, Season: 2001-02
Team: 1610612751, Season: 2002-03
Team: 1610612751, Season: 2003-04
Team: 1610612751, Season: 2004-05
Team: 1610612751, Season: 2005-06
Team: 1610612751, Season: 2006-07
Team: 1610612751, Season: 2007-08
Team: 1610612751, Season: 2008-09
Team: 1610612751, Season: 2009-10
Team: 1610612751, Season: 2010-11
Team: 1610612751, Season: 2011-12
Team: 1610612751, Season: 2012-13
Team: 1610612751, Season: 2013-14
Team: 1610612751, Season: 2014-15
Team: 1610612751, Season: 2015-16
Team: 1610612751, Season: 2016-17
Team: 1610612751, Season: 2017-18
Team: 1610612751, Season: 2018-19
Team: 1610612751, Season: 2019-20
Team: 1610612751, Season: 2020-21
Team: 1610612751, Season: 2021-22
Team: 1610612751, Season: 2022-23
Team: 1610612751, Season: 2023-24
Team: 1610612752, Season: 2000-01
Team: 1610612752, Season: 2001-02
Team: 1610612752, Season: 2002-03
Team: 1610612752, Season: 2003-04
Team: 1610612752, Season: 2004-05
Team: 1610612752, Season: 2005-06
Team: 1610612752, Season: 2006-07
Team: 1610612752, Season: 2007-08
Team: 1610612752, Season: 2008-09
Team: 1610612752, Season: 2009-10
Team: 1610612752, Season: 2010-11
Team: 1610612752, Season: 2011-12
Team: 1610612752, Season: 2012-13
Team: 1610612752, Season: 2013-14
Team: 1610612752, Season: 2014-15
Team: 1610612752, Season: 2015-16
Team: 1610612752, Season: 2016-17
Team: 1610612752, Season: 2017-18
Team: 1610612752, Season: 2018-19
Team: 1610612752, Season: 2019-20
Team: 1610612752, Season: 2020-21
Team: 1610612752, Season: 2021-22
Team: 1610612752, Season: 2022-23
Team: 1610612752, Season: 2023-24
Team: 1610612753, Season: 2000-01
Team: 1610612753, Season: 2001-02
Team: 1610612753, Season: 2002-03
Team: 1610612753, Season: 2003-04
Team: 1610612753, Season: 2004-05
Team: 1610612753, Season: 2005-06
Team: 1610612753, Season: 2006-07
Team: 1610612753, Season: 2007-08
Team: 1610612753, Season: 2008-09
Team: 1610612753, Season: 2009-10
Team: 1610612753, Season: 2010-11
Team: 1610612753, Season: 2011-12
Team: 1610612753, Season: 2012-13
Team: 1610612753, Season: 2013-14
Team: 1610612753, Season: 2014-15
Team: 1610612753, Season: 2015-16
Team: 1610612753, Season: 2016-17
Team: 1610612753, Season: 2017-18
Team: 1610612753, Season: 2018-19
Team: 1610612753, Season: 2019-20
Team: 1610612753, Season: 2020-21
Team: 1610612753, Season: 2021-22
Team: 1610612753, Season: 2022-23
Team: 1610612753, Season: 2023-24
Team: 1610612754, Season: 2000-01
Team: 1610612754, Season: 2001-02
Team: 1610612754, Season: 2002-03
Team: 1610612754, Season: 2003-04
Team: 1610612754, Season: 2004-05
Team: 1610612754, Season: 2005-06
Team: 1610612754, Season: 2006-07
Team: 1610612754, Season: 2007-08
Team: 1610612754, Season: 2008-09
Team: 1610612754, Season: 2009-10
Team: 1610612754, Season: 2010-11
Team: 1610612754, Season: 2011-12
Team: 1610612754, Season: 2012-13
Team: 1610612754, Season: 2013-14
Team: 1610612754, Season: 2014-15
Team: 1610612754, Season: 2015-16
Team: 1610612754, Season: 2016-17
Team: 1610612754, Season: 2017-18
Team: 1610612754, Season: 2018-19
Team: 1610612754, Season: 2019-20
Team: 1610612754, Season: 2020-21
Team: 1610612754, Season: 2021-22
Team: 1610612754, Season: 2022-23
Team: 1610612754, Season: 2023-24
Team: 1610612755, Season: 2000-01
Team: 1610612755, Season: 2001-02
Team: 1610612755, Season: 2002-03
Team: 1610612755, Season: 2003-04
Team: 1610612755, Season: 2004-05
Team: 1610612755, Season: 2005-06
Team: 1610612755, Season: 2006-07
Team: 1610612755, Season: 2007-08
Team: 1610612755, Season: 2008-09
Team: 1610612755, Season: 2009-10
Team: 1610612755, Season: 2010-11
Team: 1610612755, Season: 2011-12
Team: 1610612755, Season: 2012-13
Team: 1610612755, Season: 2013-14
Team: 1610612755, Season: 2014-15
Team: 1610612755, Season: 2015-16
Team: 1610612755, Season: 2016-17
Team: 1610612755, Season: 2017-18
Team: 1610612755, Season: 2018-19
Team: 1610612755, Season: 2019-20
Team: 1610612755, Season: 2020-21
Team: 1610612755, Season: 2021-22
Team: 1610612755, Season: 2022-23
Team: 1610612755, Season: 2023-24
Team: 1610612756, Season: 2000-01
Team: 1610612756, Season: 2001-02
Team: 1610612756, Season: 2002-03
Team: 1610612756, Season: 2003-04
Team: 1610612756, Season: 2004-05
Team: 1610612756, Season: 2005-06
Team: 1610612756, Season: 2006-07
Team: 1610612756, Season: 2007-08
Team: 1610612756, Season: 2008-09
Team: 1610612756, Season: 2009-10
Team: 1610612756, Season: 2010-11
Team: 1610612756, Season: 2011-12
Team: 1610612756, Season: 2012-13
Team: 1610612756, Season: 2013-14
Team: 1610612756, Season: 2014-15
Team: 1610612756, Season: 2015-16
Team: 1610612756, Season: 2016-17
Team: 1610612756, Season: 2017-18
Team: 1610612756, Season: 2018-19
Team: 1610612756, Season: 2019-20
Team: 1610612756, Season: 2020-21
Team: 1610612756, Season: 2021-22
Team: 1610612756, Season: 2022-23
Team: 1610612756, Season: 2023-24
Team: 1610612757, Season: 2000-01
Team: 1610612757, Season: 2001-02
Team: 1610612757, Season: 2002-03
Team: 1610612757, Season: 2003-04
Team: 1610612757, Season: 2004-05
Team: 1610612757, Season: 2005-06
Team: 1610612757, Season: 2006-07
Team: 1610612757, Season: 2007-08
Team: 1610612757, Season: 2008-09
Team: 1610612757, Season: 2009-10
Team: 1610612757, Season: 2010-11
Team: 1610612757, Season: 2011-12
Team: 1610612757, Season: 2012-13
Team: 1610612757, Season: 2013-14
Team: 1610612757, Season: 2014-15
Team: 1610612757, Season: 2015-16
Team: 1610612757, Season: 2016-17
Team: 1610612757, Season: 2017-18
Team: 1610612757, Season: 2018-19
Team: 1610612757, Season: 2019-20
Team: 1610612757, Season: 2020-21
Team: 1610612757, Season: 2021-22
Team: 1610612757, Season: 2022-23
Team: 1610612757, Season: 2023-24
Team: 1610612758, Season: 2000-01
Team: 1610612758, Season: 2001-02
Team: 1610612758, Season: 2002-03
Team: 1610612758, Season: 2003-04
Team: 1610612758, Season: 2004-05
Team: 1610612758, Season: 2005-06
Team: 1610612758, Season: 2006-07
Team: 1610612758, Season: 2007-08
Team: 1610612758, Season: 2008-09
Team: 1610612758, Season: 2009-10
Team: 1610612758, Season: 2010-11
Team: 1610612758, Season: 2011-12
Team: 1610612758, Season: 2012-13
Team: 1610612758, Season: 2013-14
Team: 1610612758, Season: 2014-15
Team: 1610612758, Season: 2015-16
Team: 1610612758, Season: 2016-17
Team: 1610612758, Season: 2017-18
Team: 1610612758, Season: 2018-19
Team: 1610612758, Season: 2019-20
Team: 1610612758, Season: 2020-21
Team: 1610612758, Season: 2021-22
Team: 1610612758, Season: 2022-23
Team: 1610612758, Season: 2023-24
Team: 1610612759, Season: 2000-01
Team: 1610612759, Season: 2001-02
Team: 1610612759, Season: 2002-03
Team: 1610612759, Season: 2003-04
Team: 1610612759, Season: 2004-05
Team: 1610612759, Season: 2005-06
Team: 1610612759, Season: 2006-07
Team: 1610612759, Season: 2007-08
Team: 1610612759, Season: 2008-09
Team: 1610612759, Season: 2009-10
Team: 1610612759, Season: 2010-11
Team: 1610612759, Season: 2011-12
Team: 1610612759, Season: 2012-13
Team: 1610612759, Season: 2013-14
Team: 1610612759, Season: 2014-15
Team: 1610612759, Season: 2015-16
Team: 1610612759, Season: 2016-17
Team: 1610612759, Season: 2017-18
Team: 1610612759, Season: 2018-19
Team: 1610612759, Season: 2019-20
Team: 1610612759, Season: 2020-21
Team: 1610612759, Season: 2021-22
Team: 1610612759, Season: 2022-23
Team: 1610612759, Season: 2023-24
Team: 1610612760, Season: 2000-01
Team: 1610612760, Season: 2001-02
Team: 1610612760, Season: 2002-03
Team: 1610612760, Season: 2003-04
Team: 1610612760, Season: 2004-05
Team: 1610612760, Season: 2005-06
Team: 1610612760, Season: 2006-07
Team: 1610612760, Season: 2007-08
Team: 1610612760, Season: 2008-09
Team: 1610612760, Season: 2009-10
Team: 1610612760, Season: 2010-11
Team: 1610612760, Season: 2011-12
Team: 1610612760, Season: 2012-13
Team: 1610612760, Season: 2013-14
Team: 1610612760, Season: 2014-15
Team: 1610612760, Season: 2015-16
Team: 1610612760, Season: 2016-17
Team: 1610612760, Season: 2017-18
Team: 1610612760, Season: 2018-19
Team: 1610612760, Season: 2019-20
Team: 1610612760, Season: 2020-21
Team: 1610612760, Season: 2021-22
Team: 1610612760, Season: 2022-23
Team: 1610612760, Season: 2023-24
Team: 1610612761, Season: 2000-01
Team: 1610612761, Season: 2001-02
Team: 1610612761, Season: 2002-03
Team: 1610612761, Season: 2003-04
Team: 1610612761, Season: 2004-05
Team: 1610612761, Season: 2005-06
Team: 1610612761, Season: 2006-07
Team: 1610612761, Season: 2007-08
Team: 1610612761, Season: 2008-09
Team: 1610612761, Season: 2009-10
Team: 1610612761, Season: 2010-11
Team: 1610612761, Season: 2011-12

In [13]:
len(ctr_list)

720

In [14]:
roster5 = pd.concat(ctr_list)

In [15]:
roster5.head(10)

,TeamID,SEASON,LeagueID,PLAYER,NICKNAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID,HOW_ACQUIRED
0,1610612737,2000,00,DerMarr Johnson,DerMarr,dermarr-johnson,1,F,6-9,201,"MAY 05, 1980",21.0,R,Cincinnati,2035,None
1,1610612737,2000,00,Nazr Mohammed,Nazr,nazr-mohammed,2,C,6-10,240,"SEP 05, 1977",23.0,2,Kentucky,1737,None
2,1610612737,2000,00,Cal Bowdler,Cal,cal-bowdler,3,F,6-10,245,"MAR 31, 1977",24.0,1,Old Dominion,1898,None
3,1610612737,2000,00,Chris Crawford,Chris,chris-crawford,4,F,6-9,235,"MAY 13, 1975",26.0,3,Marquette,1544,None
4,1610612737,2000,00,Dion Glover,Dion,dion-glover,5,G,6-5,228,"OCT 22, 1978",22.0,1,Georgia Tech,1901,None
5,1610612737,2000,00,Toni Kukoc,Toni,toni-kukoc,7,F,6-11,235,"SEP 18, 1968",32.0,7,Benetton Treviso,389,None
6,1610612737,2000,00,Matt Maloney,Matt,matt-maloney,12,G,6-3,200,"DEC 06, 1971",29.0,4,Pennsylvania,1074,None
7,1610612737,2000,00,Hanno Mottola,Hanno,hanno-mottola,13,F,6-11,247,"SEP 09, 1976",24.0,R,Utah,2069,None
8,1610612737,2000,00,Brevin Knight,Brevin,brevin-knight,22,G,5-10,170,"NOV 08, 1975",25.0,3,Stanford,1510,None
9,1610612737,2000,00,Jason Terry,Jason,jason-terry,31,G,6-2,172,"SEP 15, 1977",23.0,1,Arizona,1891,None

In [18]:
height = roster5['HEIGHT'].str.split('-')

In [40]:
height

0      [6, 9]
1     [6, 10]
2     [6, 10]
3      [6, 9]
4      [6, 5]
       ...
12     [6, 7]
13     [6, 9]
14     [6, 5]
15    [6, 11]
16     [6, 7]
Name: HEIGHT, Length: 10784, dtype: object

In [23]:
h_ex = ['6','9']
hex1 = ['6','11']

In [41]:
def height_inches(h):
    print(h)
    h1 = int(float(h[0]))
    print(h1)
    h2 = int(float(h[1]))
    print(h2)
    height = h1*12+h2
    return height

In [42]:
height_inches(h_ex)

['6', '9']
6
9

81

In [43]:
height_inches(hex1)

['6', '11']
6
11

83

In [44]:
roster5.shape

(10784, 16)

In [ ]:
heights = [height_inches(i) for i in height]
heights

In [48]:
roster5['HEIGHT_INCHES'] = heights

In [49]:
roster5

,TeamID,SEASON,LeagueID,PLAYER,NICKNAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID,HOW_ACQUIRED,HEIGHT_INCHES
0,1610612737,2000,00,DerMarr Johnson,DerMarr,dermarr-johnson,1,F,6-9,201,"MAY 05, 1980",21.0,R,Cincinnati,2035,None,81
1,1610612737,2000,00,Nazr Mohammed,Nazr,nazr-mohammed,2,C,6-10,240,"SEP 05, 1977",23.0,2,Kentucky,1737,None,82
2,1610612737,2000,00,Cal Bowdler,Cal,cal-bowdler,3,F,6-10,245,"MAR 31, 1977",24.0,1,Old Dominion,1898,None,82
3,1610612737,2000,00,Chris Crawford,Chris,chris-crawford,4,F,6-9,235,"MAY 13, 1975",26.0,3,Marquette,1544,None,81
4,1610612737,2000,00,Dion Glover,Dion,dion-glover,5,G,6-5,228,"OCT 22, 1978",22.0,1,Georgia Tech,1901,None,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,1610612766,2023,00,Gordon Hayward,Gordon,gordon-hayward,20,F,6-7,225,"MAR 23, 1990",33.0,13,Butler,202330,Traded from BOS on 11/29/20,79
13,1610612766,2023,00,JT Thor,JT,jt-thor,21,F,6-9,203,"AUG 26, 2002",20.0,2,Auburn,1630550,Draft Rights Traded from DET on 08/06/21,81
14,1610612766,2023,00,Kobi Simmons,Kobi,kobi-simmons,23,G,6-5,180,"JUL 04, 1997",25.0,3,Arizona,1628424,Signed on 09/16/19,77
15,1610612766,2023,00,Kai Jones,Kai,kai-jones,23,C-F,6-11,221,"JAN 19, 2001",22.0,2,Texas,1630539,Draft Rights Traded from NYK on 07/30/21,83
16,1610612766,2023,00,P.J. Washington,P.J.,pj-washington,25,F,6-7,230,"AUG 23, 1998",24.0,4,Kentucky,1629023,#12 Pick in 2019 Draft,79

In [50]:
roster5.to_csv('rosters.csv',index=False)

In [101]:
seasons['id'].str.split('-')[0][0]

'01'

In [103]:
seasons['SEASON'] = [seasons['id'].str.split('-')[i][0] for i in range(0,len(seasons))]

In [104]:
seasons

         id SEASON
0   2000-01   2000
1   2001-02   2001
2   2002-03   2002
3   2003-04   2003
4   2004-05   2004
5   2005-06   2005
6   2006-07   2006
7   2007-08   2007
8   2008-09   2008
9   2009-10   2009
10  2010-11   2010
11  2011-12   2011
12  2012-13   2012
13  2013-14   2013
14  2014-15   2014
15  2015-16   2015
16  2016-17   2016
17  2017-18   2017
18  2018-19   2018
19  2019-20   2019
20  2020-21   2020
21  2021-22   2021
22  2022-23   2022
23  2023-24   2023

In [106]:
roster5_plus = roster5.merge(seasons,how='left',on='SEASON')
roster5_plus

,TeamID,SEASON,LeagueID,PLAYER,NICKNAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID,HOW_ACQUIRED,id
0,1610612748,2019,00,Meyers Leonard,Meyers,meyers-leonard,0,F-C,7-0,260,"FEB 27, 1992",28.0,7,Illinois,203086,None,2019-20
1,1610612748,2019,00,Gabe Vincent,Gabe,gabe-vincent,2,G,6-3,200,"JUN 14, 1996",24.0,R,California-Santa Barbara,1629216,Signed on 01/08/20,2019-20
2,1610612748,2019,00,KZ Okpala,KZ,kz-okpala,4,F-G,6-8,215,"APR 28, 1999",21.0,R,Stanford,1629644,None,2019-20
3,1610612748,2019,00,Derrick Jones Jr.,Derrick,derrick-jones-jr,5,F,6-6,210,"FEB 15, 1997",23.0,3,UNLV,1627884,None,2019-20
4,1610612748,2019,00,Goran Dragic,Goran,goran-dragic,7,G,6-3,190,"MAY 06, 1986",34.0,11,Union Olimpija,201609,None,2019-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,1610612763,2023,00,Tyus Jones,Tyus,tyus-jones,21,G,6-2,196,"MAY 10, 1996",27.0,8,Duke,1626145,Signed on 07/11/19,2023-24
419,1610612763,2023,00,Desmond Bane,Desmond,desmond-bane,22,G,6-5,215,"JUN 25, 1998",24.0,3,TCU,1630217,Draft Rights Traded from BOS on 11/20/20,2023-24
420,1610612763,2023,00,Dillon Brooks,Dillon,dillon-brooks,24,G-F,6-6,225,"JAN 22, 1996",27.0,6,Oregon,1628415,Draft Rights Traded from HOU on 06/22/17,2023-24
421,1610612763,2023,00,David Roddy,David,david-roddy,27,F,6-4,255,"MAR 27, 2001",22.0,1,Colorado State,1631223,Draft Rights Traded from PHI on 06/24/22,2023-24
422,1610612763,2023,00,John Konchar,John,john-konchar,46,G,6-5,210,"MAR 22, 1996",27.0,4,Indiana-Purdue Fort Wayne,1629723,Signed on 07/07/19,2023-24

In [121]:
roster5_sample

,TeamID,SEASON,LeagueID,PLAYER,NICKNAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID,HOW_ACQUIRED,id
270,1610612757,2019,00,Caleb Swanigan,Caleb,caleb-swanigan,50,F,6-9,260,"APR 18, 1997",23.0,2,Purdue,1628403,None,2019-20
350,1610612763,2019,00,Tyus Jones,Tyus,tyus-jones,21,G,6-0,196,"MAY 10, 1996",24.0,4,Duke,1626145,Signed on 07/11/19,2019-20
195,1610612747,2020,00,Jared Dudley,Jared,jared-dudley,10,F,6-6,237,"JUL 10, 1985",35.0,13,Boston College,201162,None,2020-21
320,1610612757,2022,00,Jeenathan Williams,Jeenathan,jeenathan-williams,49,G,6-5,205,"FEB 12, 1999",24.0,R,Buffalo,1631466,Signed on 04/01/23,2022-23
143,1610612766,2022,00,Kelly Oubre Jr.,Kelly,kelly-oubre-jr,12,F-G,6-6,203,"DEC 09, 1995",27.0,7,Kansas,1626162,Signed on 08/07/21,2022-23

In [177]:
# okay... let's get all of the game ids... 
from nba_api.stats.endpoints import cumestatsplayergames
roster5_sample = roster5_plus.sample(5,random_state=41)

gids = []
for i in set(roster5_sample['id']):
    yr = roster5_sample[roster5_sample['id']==i]
    for j in yr['PLAYER_ID']:
        gid = cumestatsplayergames.CumeStatsPlayerGames(player_id=j,season=i).get_data_frames()[0]['GAME_ID'].values
        giddf = pd.DataFrame({'PLAYER_ID':j,'SEASON_ID':i,'GAME_IDS':gid})
        gids.append(giddf)
        
    print("Player ID: {}, Season: {}".format(i,j))
    
GIDS = pd.concat(gids)
GIDS

Player ID: 2022-23, Season: 1626162
Player ID: 2019-20, Season: 1626145
Player ID: 2020-21, Season: 201162

    PLAYER_ID SEASON_ID    GAME_IDS
0     1631466   2022-23  0022201230
1     1631466   2022-23  0022201215
2     1631466   2022-23  0022201199
3     1631466   2022-23  0022201184
4     1631466   2022-23  0022201166
..        ...       ...         ...
7      201162   2020-21  0022000121
8      201162   2020-21  0022000087
9      201162   2020-21  0022000060
10     201162   2020-21  0022000040
11     201162   2020-21  0022000008

[157 rows x 3 columns]

In [179]:
gids_sample = GIDS.sample(10,random_state=41)

In [192]:
# now, for the advanced box scores 
from nba_api.stats.endpoints import boxscoreadvancedv2

BS = []
for i in set(gids_sample['GAME_IDS']):
    bs = boxscoreadvancedv2.BoxScoreAdvancedV2(game_id=i).get_data_frames()[0]
    BS.append(bs)
    print(i)
BS_DF = pd.concat(BS)

0021900007
0021900420
0022200450
0022201005
0021900376
0021900735
0022200460
0021900054
0021900753
0021900462

In [193]:
BS_DF

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,0021900007,1610612763,MEM,Memphis,203109,Jae Crowder,Jae,F,,30.000000:17,...,5.9,0.364,0.477,0.183,0.185,113.77,110.95,92.46,71,0.089
1,0021900007,1610612763,MEM,Memphis,1628991,Jaren Jackson Jr.,Jaren,F,,29.000000:56,...,15.8,0.417,0.533,0.253,0.253,111.38,109.84,91.54,68,0.046
2,0021900007,1610612763,MEM,Memphis,202685,Jonas Valanciunas,Jonas,C,,16.000000:09,...,25.0,0.429,0.444,0.262,0.263,118.47,114.49,95.41,37,-0.056
3,0021900007,1610612763,MEM,Memphis,1628415,Dillon Brooks,Dillon,G,,18.000000:10,...,20.0,0.500,0.500,0.205,0.205,113.83,110.97,92.48,41,0.080
4,0021900007,1610612763,MEM,Memphis,1629630,Ja Morant,Ja,G,,25.000000:09,...,25.0,0.500,0.509,0.317,0.326,112.91,111.65,93.04,58,0.077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,0021900462,1610612760,OKC,Oklahoma City,203488,Mike Muscala,Mike,,,11.000000:28,...,0.0,0.000,0.000,0.071,0.074,104.57,106.74,88.95,25,0.009
21,0021900462,1610612760,OKC,Oklahoma City,1629126,Deonte Burton,Deonte,,,9.000000:27,...,0.0,0.000,0.000,0.100,0.100,94.03,99.12,82.60,19,-0.069
22,0021900462,1610612760,OKC,Oklahoma City,1627846,Abdel Nader,Abdel,,,16.000000:48,...,0.0,0.333,0.333,0.237,0.250,92.70,98.59,82.16,34,0.027
23,0021900462,1610612760,OKC,Oklahoma City,1628987,Kevin Hervey,Kevin,,,1.000000:18,...,0.0,0.000,0.000,0.500,0.500,73.85,92.31,76.92,2,-1.000
24,0021900462,1610612760,OKC,Oklahoma City,1628977,Hamidou Diallo,Hamidou,,DND - Injury/Illness,None,...,NaN,NaN,NaN,0.000,0.000,NaN,NaN,NaN,0,NaN

**So, to Recap**   
Players

In [195]:
roster5.head()

,TeamID,SEASON,LeagueID,PLAYER,NICKNAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID,HOW_ACQUIRED
0,1610612748,2019,00,Meyers Leonard,Meyers,meyers-leonard,0,F-C,7-0,260,"FEB 27, 1992",28.0,7,Illinois,203086,None
1,1610612748,2019,00,Gabe Vincent,Gabe,gabe-vincent,2,G,6-3,200,"JUN 14, 1996",24.0,R,California-Santa Barbara,1629216,Signed on 01/08/20
2,1610612748,2019,00,KZ Okpala,KZ,kz-okpala,4,F-G,6-8,215,"APR 28, 1999",21.0,R,Stanford,1629644,None
3,1610612748,2019,00,Derrick Jones Jr.,Derrick,derrick-jones-jr,5,F,6-6,210,"FEB 15, 1997",23.0,3,UNLV,1627884,None
4,1610612748,2019,00,Goran Dragic,Goran,goran-dragic,7,G,6-3,190,"MAY 06, 1986",34.0,11,Union Olimpija,201609,None

Seasons

In [201]:
seasons.head()

        id SEASON
0  2000-01   2000
1  2001-02   2001
2  2002-03   2002
3  2003-04   2003
4  2004-05   2004

Game IDs

In [197]:
GIDS.head()

   PLAYER_ID SEASON_ID    GAME_IDS
0    1631466   2022-23  0022201230
1    1631466   2022-23  0022201215
2    1631466   2022-23  0022201199
3    1631466   2022-23  0022201184
4    1631466   2022-23  0022201166

Teams

In [198]:
teams.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

Box Scores

In [200]:
BS_DF.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,0021900007,1610612763,MEM,Memphis,203109,Jae Crowder,Jae,F,,30.000000:17,...,5.9,0.364,0.477,0.183,0.185,113.77,110.95,92.46,71,0.089
1,0021900007,1610612763,MEM,Memphis,1628991,Jaren Jackson Jr.,Jaren,F,,29.000000:56,...,15.8,0.417,0.533,0.253,0.253,111.38,109.84,91.54,68,0.046
2,0021900007,1610612763,MEM,Memphis,202685,Jonas Valanciunas,Jonas,C,,16.000000:09,...,25.0,0.429,0.444,0.262,0.263,118.47,114.49,95.41,37,-0.056
3,0021900007,1610612763,MEM,Memphis,1628415,Dillon Brooks,Dillon,G,,18.000000:10,...,20.0,0.500,0.500,0.205,0.205,113.83,110.97,92.48,41,0.080
4,0021900007,1610612763,MEM,Memphis,1629630,Ja Morant,Ja,G,,25.000000:09,...,25.0,0.500,0.509,0.317,0.326,112.91,111.65,93.04,58,0.077

The **Teams** data did not get used at all. The **Seasons** data was used to get the **Roster** data and the **Game ID** data. The **Roster** data was used to get the **Game ID** data, as well. Once we had the **Game ID** data, the rest of the data was mostly useless other than potential predictors.

The flow should therefore be:   
* Season -> Roster -> Game ID -> Box Score